<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onRent</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
 <link rel="stylesheet" href="/Stylesheet/style.css">
 <script src="https://cdn.tailwindcss.com"></script>

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

<body>



  <div class="w-screen h-[10vh] px-4 nav">
    <div class="left w-[70%] flex gap-12 items-center">
      <div class="logo flex items-center">
        <a href="/"><img class="w-10 h-10" src="../images/logo.png" alt=""></a>
        <h1 class="text-[#fb3a5c] font-semibold text-2xl">onRent</h1>
      </div>
      <ul class="flex gap-10">
        <li><a href="/">All Listing</a></li>
        <li><a href="/create">Add Listing</a></li>
      </ul>
    </div>
    <div class="right w-[30%] flex gap-5 items-center">
      <h1 class="font-semibold"><a href="/create">onRent your home</a></h1>
      <div id="profileDropdown" class="dropdown">
        <button id="btn-message" class="button-message">
          <div class="content-avatar">
            <div class="status-user"></div>
            <div class="avatar">
              <svg class="user-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12,12.5c-3.04,0-5.5,1.73-5.5,3.5s2.46,3.5,5.5,3.5,5.5-1.73,5.5-3.5-2.46-3.5-5.5-3.5Zm0-.5c1.66,0,3-1.34,3-3s-1.34-3-3-3-3,1.34-3,3,1.34,3,3,3Z"></path>
              </svg>
            </div>
          </div>
          <div class="notice-content">
            <div class="lable-message">Profile</div>
          </div>
        </button>
        <div class="dropdown-content min-w-52 min-h-40 mt-2  p-3 rounded-md">
          <div>
            <% if (login == false) { %>
               <a class="leading-8 px-2 rounded-sm" href="/signup">Sign Up</a>
                <a class="leading-8 px-2 rounded-sm" href="/login">Login</a>
            <% } %>
            <% if(login) {  %>
              <a class="leading-8 px-2 rounded-sm" href="/Profile">Profile</a>
          <%  } %>
        </div>
          <hr>
         <div>
          <a class="leading-8 px-2 rounded-sm" href="/create">onRent your home</a>
          <a class="leading-8 px-2 rounded-sm" href="/">Help center</a>
          <% if (login == true) { %>
              <a class="ml-20 bg-red-500 w-20 h-6 px-3 text-white rounded-sm" href="/logout">logout</a>
        <% }  %>
         </div>
        </div>
      </div>
    </div>
  </div>

  </div>
    <div class="container">
        <%- body  %>
    </div>


  <div class="footer w-screen h-[60vh] bg-slate-200 flex-col px-10">
        <div class="flex gap-40 px-10 py-4 justify-center">
            <section>
              <h1 class="font-semibold mb-4">Support</h1>
              <ul>
                <li><a href="/"></a>Help Center</li>
                <li><a href="/"></a>Anti-discrimination</li>
                <li><a href="/"></a>Disability support</li>
                <li><a href="/">Cancellation options</a></li>
                <li><a href="/">Report neighbourhood concern</a></li>
                
              </ul>
            </section>

            <section>
              <h1 class="font-semibold mb-4">Hosting</h1>
              <ul>
                <li><a href="/">Airbnb your home</a></li>
                <li><a href="/">AirCover for Hosts</a></li>
                <li><a href="/">Hosting resources</a></li>
                <li><a href="/">Community forum</a></li>
                <li><a href="/">Hosting responsibly</a></li>
                <li><a href="/">Join a free Hosting class</a></li>
              </ul>
            </section>


            <section>
             <h1 class="font-semibold mb-4">onRent</h1>
             <ul>
              <li><a href="/">Newsroom</a></li>
              <li><a href="/">New features</a></li>
              <li><a href="/">Careers</a></li>
              <li><a href="/">Investors</a></li>
              <li><a href="/">Airbnb.org emergency stays</a></li>
             </ul>

            </section>
       </div>

      <section class="w-full flex justify-center"><div class="w-[80%] h-[1px] bg-black"></div></section>
       
      <section class="flex justify-center gap-10 w-full pt-2">
      <div class="w-[80%] flex justify-between ">

        <div class="flex gap-10">
        <p>©<span id="year">2024</span> onRent,Inc.</p>
        <p class="flex gap-10">
          <a href="/">.Privacy.</a>
          <a href="/">.Term.</a>
          <a href="/">.Sitemap.</a>
          <a href="/">.Company details.</a>
        </p>
        </div>

      <div class="flex gap-2">
        <a href="/"> <i class="fa-brands fa-facebook"></i></a>
        <a href="/"><i class="fa-brands fa-twitter"></i></a>
         <a href="/"><i class="fa-brands fa-square-instagram"></i></a>
      </div>

      </div>
      </section>

  </div>
</body>
  <script src="/javascript/nav.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
  "></script>
</html>