@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Sedan+SC&display=swap');
body {
    background-color: pink;
    overflow-x: hidden;
}
*{
    font-family: "Philosopher", sans-serif;
}
.block {
    display: block;
    margin-bottom: 10px;
}


/* Navbar css */
.nav {
    border-bottom: 1px solid black;
}

/* create list form ejs  */
.main input , textarea {
   outline: none;
   border: 1px solid rgba(0 ,  0, 0, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.form-group {
    margin-top: 10px;
    box-shadow: none;
}

/* footer */
.footer section ul li {
    margin-bottom: 8px;
}