<% layout("/layouts/boilerplate", {login : login}) %> 

<body>
    <div class="w-screen h-[5vh] bg-[#fff6e9] px-4  flex items-center justify-between">
         <div class="flex items-center gap-2"><i class="fa-regular fa-envelope"></i></i><p>ruralremedies@gmail.com</p></div>
         <div class="flex items-center  gap-2"><i class="fa-sharp fa-solid fa-location-dot" style="color: #ff0000;"></i><p>Sage University , Bhopal</p></div>
         <div class="flex items-center gap-2 mr-8"><i class="fa-brands fa-facebook-f text-blue-800"></i><i class="fa-brands fa-instagram text-pink-800"></i><i class="fa-brands fa-twitter text-blue-800"></i></div>
    </div>

    <div class="home-main">
             <div class="w-80 h-96 relative left-[55vw] top-12">
                   <h1 class=" font-medium font-semibold text-green-900">Natural Herbal <br> Remedies</h1>
                   <h1 class="text-4xl text-white font-semibold">100% <br> Organic</h1>
                   <div class="flex mt-4 gap-2">
                    <p class="w-4 h-60 bg-green-900"></p>
                    <p>Rural remedies epitomize a harmonious blend of nature's wisdom and human resilience, providing holistic healing solutions rooted in centuries-old knowledge. They celebrate the enduring efficacy of traditional practices, showcasing a sustainable approach to wellness deeply intertwined with community strength.</p>
                 </div>
                 <div class="flex gap-4 mt-2 justify-end">
                    <i class="fa-brands fa-facebook text-3xl text-blue-800"></i>
                    <i class="fa-brands fa-instagram text-3xl text-pink-800"></i>
                    <i class="fa-brands fa-twitter text-3xl text-blue-600"></i>
                 </div>
             </div>
            
    </div>

    <div class="intro p-2 pt-4">
      <section class="w-full flex justify-center">
        <div class="h-24 leading-">
               <p class="flex justify-center text-green-900">Herbel Remedies</p>
                <p class="flex justify-center">who we are</p>
                <img src="../images/we-are-intro.png" alt="">
         </div>
      </section>
      
      <section class="flex">

        <div class="left px-4 w-1/2 mt-8">
            <div class="flex gap-2">
                <p class="w-1 h-16 bg-green-900"></p>
                <p>We are amazing <br>Remedies For All Problems</p>
            </div>
            <div class="mt-2">
                <span>Rural home remedies rely on natural ingredients like herbs, embodying a deep understanding of herbal medicine. They are easy to prepare and often used for common health issues, reflecting a holistic approach to wellness.Explore our curated collection of rural remedy recipes, blending natural ingredients and time-honored techniques for holistic wellness</span>
                <br> 
                <button class="w-24 h-8 bg-green-900 text-white rounded-sm mt-4">Read More</button>
            </div>
        </div>


        <div class="right p-4">
           <img src="../images/img3.png" alt=""> 
        </div>
      </section>
        
      
    </div>


    <div class="intro2 p-2 pt-4">
     
        <section class="w-full flex justify-center">
            <div class="h-24 leading-">
                    <p class="flex justify-center text-green-900">Categories</p>
                    <p class="flex justify-center">Herbs That Heal</p>
                    <img src="../images/we-are-intro.png" alt="">
            </div>
          </section>

         <div class="cards px-4 flex flex-wrap gap-4 justify-center">
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box1.png" alt="">
                <h1 class="text-green-900">Herbal Remedies</h1>
                <p class="mt-2">Natural herbs offer diverse health benefits through traditional medicinal practices</p>
            </div>
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box2.png" alt="">
                <h1 class="text-green-900">Herbal Supplement</h1>
                <p class="mt-2">Herbal supplements augment health with natural ingredients for various wellness needs</p>
            </div>
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box3.png" alt="">
                <h1 class="text-green-900">Herbal Teas</h1>
                <p class="mt-2">Herbal teas soothe, nourish, and refresh with diverse flavors and benefits.</p>
            </div>
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box4.png" alt="">
                <h1 class="text-green-900">Herbal Beauty</h1>
                <p class="mt-2">Herbal beauty harnesses nature's gifts for radiant, nourished skin and hair.</p>
            </div>
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box5.png" alt="">
                <h1 class="text-green-900">Herbal Health</h1>
                <p class="mt-2">Herbal health promotes well-being through natural remedies and holistic practices.</p>
            </div>
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box6.png" alt="">
                <h1 class="text-green-900">Herbal Nutrition</h1>
                <p class="mt-2">Herbal nutrition enriches diets with natural, nutrient-rich ingredients for wellness</p>
            </div>
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box7.png" alt="">
                <h1 class="text-green-900">Herbal Remedies</h1>
                <p class="mt-2">Natural herbs offer diverse health benefits through traditional medicinal practices</p>
            </div>
          <div class="one w-60 h-72 bg-[#d8dce4] rounded-md px-2">
                <img class="mb-2" src="../images/info/box8.png" alt="">
                <h1 class="text-green-900">Herbal Remedies</h1>
                <p class="mt-2">Natural herbs offer diverse health benefits through traditional medicinal practices</p>
            </div>

           
         </div>

    </div>

</body>